
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
    color: black;
}


h1 {
    text-align: center;
    color: navy;
    font-size: 24px;
   /* border-bottom: 2px solid skyblue;*/
    padding-bottom: 5px;
    margin-top: 30px;
}


p {
  text-align: center;
    font-weight: bold;
    color: dimgray;
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgray;
    max-width: 600px;
    margin: auto;
}


label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    color: black;
}


textarea {
    resize: vertical;
}

